.root {
  display: flex;
  justify-content: center;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    outline: none;
    &:hover {
      border: 1px solid orange;

      color: orange;
    }
  }

  :global{
      .selected{
        background-color: orange;
        border-radius: 50%;

        a{
            color: white;
        }
 
      }
  }
}
