@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    @media (max-width: 1071px) {
      font-size: 12px;
      padding: 5px 15px;
    }

    @media (max-width: 570px) {
      font-size: 10px;
      padding: 5px 15px;

      h1 {
        font-size: 20px !important;
      }

      p {
        max-width: 100px !important;
      }
    }

    @media (max-width: 398px) {
      h1 {
        font-size: 10px !important;
      }
    }

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
