
input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 10px 15px;
  width: 400px;
  font-size: 16px;
  transition: all 0.3s;
  padding-left: 30px;
  opacity: 0.8;

  &:focus {
    border-color: blue;
  }

  @media (max-width: 1245px) {
    width: 300px;
  }
  @media (max-width: 1143px) {
    width: 200px;
  }

  @media(max-width:959px){
      margin-bottom: 30px;
      width: 300px;
  }


  @media(max-width:429px){
    max-width: 200px;
  }
}
.root {
  position: relative;
  left: -120px;
  top: 5px;

  @media (max-width: 1377px) {
    margin-left: 150px;
  }

  @media(max-width:959px){
      left: -90px;
  }
  @media(max-width:533px){
    left: -73px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  top: 7px;
  position: absolute;
  right: 0;
}

.close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 12px;
  left: 7px;
  opacity: 0.5;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
